.item-list {
    border: 1px solid #69d8c9;
    font-size: 14px;
    margin-bottom: 15px;
}

.item-list .item-top {
    height: 36px;
    padding: 5px;
}

.item-list .item-body {
    padding: 0px;
    width: 205mm;
}

.item-list .item-footer {
    line-height: 45px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    background: #f8f8f8;
}

.item-list .item-detail {
    border-top: 1px solid #69d8c9;
    display: none;
}

.item-list .item-detail .analysis-item {
    border-bottom: 1px dashed #b9b7b9;
    padding: 0px;
    width: 205mm;
}

.item-list .item-detail .answer-item {
    border-bottom: 1px dashed #b9b7b9;
    padding: 0px;
    width: 205mm;
}

.item-list .item-detail .review-item {
    border-bottom: 1px dashed #b9b7b9;
    padding: 0px;
    width: 205mm;
}

.item-analysis-btn{
    display: inline-block;
    padding: 10px;

    line-height: 25px;

    cursor: pointer;
    margin: 0px 10px;
}
.item-analysis-btn-active{
    border: 1px solid #69d8c9;
    background-color: #fff;
    border-bottom: #fff;
    line-height: 26px;
}